/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Karla:700|Montserrat:400,400i');
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Karla', sans-serif;
    margin: 2em;
}